
li {
    list-style: none;
}

.card{
   margin-top: 30px;
   max-width: 75%;
   align-items: left;
   margin-left: auto;
   margin-right: auto;
}

.date {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    margin-left: 10px;
    border-bottom: 1px solid lightgrey;
   

}

.productDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    

}

.productName {
    width: 15rem;
    margin-left: 3rem;
}

.quantity {
    width: 5rem;
    text-align: center;
    border: 1px solid lightgrey;
}

.price {
    width: 10rem;
    text-align: center;
}
/*
.carro-compras-overlay{
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(122, 122, 122, 0.397);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: var(--z-fixed);
}
.carro-compras-overlay.mostrar{
    display: block;
*/
